.create {
    background-color: #f4f4f4;
    padding: 100px;
    .innner {
        padding: 30px 0;
        p {
            font-weight: bolder;
        }
        ol {
            line-height: 2;
            margin: 30px 0;
            padding: 0 0 0 20px;
        }
        a {
            color: black;
            margin-right: 20px;
            font-weight: bolder;
            text-decoration: none;
            font-size: large;
            border-bottom: 3px solid black;
        }
    }
}

.templates {
    padding: 100px 80px;
    .wrap {
        text-align: center;
        .lead {
            font-weight: bolder;
        }
        h4 {
            padding-top: 30px;
            margin: auto;
            max-width: fit-content;
            border-bottom: 3px solid #000;
        }
        .pix {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .pic {
                p {
                    text-align: center;
                }
            }
        }
    }
}