.footer {
    max-height: max-content !important;
    text-transform: capitalize;
    margin-bottom: 0;
    width: 100% !important;
    padding: 50px;
    .tabs {
        font-weight: bold !important;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            padding-bottom: 20px !important;
            max-width: 20%;
            font-size: 20px !important;
        }
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        .span {
            float: right;
            font-size: 35px;
            margin-top: 0 !important;
            margin-bottom: auto !important;
            margin-left: auto !important;
            font-weight: lighter;
        }
        p {
            font-size: 14px !important;
        }
        ol {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            li {
                padding: 0 13px;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            line-height: 2;
            font-weight: normal !important;
            li {
                text-align: left;
                font-size: 14px !important;
                a {
                    color: black;
                    text-decoration: none;
                }
                span {
                    padding: 0 10px 0 0;
                }
            }
        }
    }
}

.logo2 {
    padding: 20px;
    width: 45%;
    color: black !important;
    img {
        margin-bottom: 15px;
    }
    p {
        font-size: 11px;
        text-align: left;
    }
}